* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida";
}

.content {
  max-width: 909px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: inline-block;
}

.number {
  font-family: Arial;
  padding-left: 33px;
  display: inline-block;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  vertical-align: bottom;
  color:#5e696d;
  background: url('../img/shape.png');
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 3px;
}

.icons {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #c1c8cb;
  border-radius: 14px 14px 14px 14px;
  padding-left: 9px;
  padding-right: 15px;
  margin-left: 10px;
  height: 19px;
  padding-bottom: 6px;
  width: 50px;

}

.login {
  margin-left: 25px;
  display: inline-block;
  font-size: 10.91px;
  background: linear-gradient(to top, #0d365a, #1f6685);
  width: 495px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  box-shadow: -1px 7px 27px -6px rgba(0,0,0,0.75);
  position: relative;
}

.login li:first-child {
  padding-left: 25px;
  background: url('../img/icon.png');
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 4px;
  }

.login li:nth-child(3) {
    padding-right: 6px;
    padding-left: 4px;
  }

  .login li:nth-child(3)::after {
    position: absolute;
    top: 9px;
    right: 194px;
    left: 295px;
    width: 1px;
    height: 9px;
    background: #fff;
    content: "";

}

.login li:last-child {
    padding-left: 20px;
    text-decoration: underline;
    color: #959da5;
    font-size: 12px;
    padding-right: 5px;
  }

input[type="text"] {
  width: 110px;
  height: 13px;
  border-radius: 3px 3px 3px 3px;
}

input[type="password"] {
  width: 110px;
  height: 13px;
  border-radius: 3px 3px 3px 3px;
}

input[type="text"]::placeholder {
  font-size: 10.91px;
  padding-left: 3px;
  color: #97a2a6;
  vertical-align: middle;
}

input[type="password"]::placeholder {
  font-size: 10.91px;
  padding-left: 3px;
  color: #97a2a6;
  vertical-align: middle;
}

.login li {
  display: inline-block;
}

.banner {
  margin-top: 10px;
}

.navigation {
  height: 32px;
  line-height: 32px;
  background: url('../img/back.png');
  background-repeat: repeat-x;
  padding-left:126px;
  border-radius: 4px 4px 4px 4px;
}


.navigation li {
  display: inline-block;

}

.navigation a {
  text-decoration: none;
  font-size: 13.64px;
  color: #b1bcc0;
  width: 123px;
  padding-left: 15px;
  padding-right: 15px;
  height: 25px;
  line-height: 25px;
}

.navigation li:nth-child(6) {
  font-family: Arial;
  font-size: 11px;
  color: #b1bcc0;
  padding-right: 5px;
  padding-left: 55px;
  background: url('../img/basket.png');
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 6px;

}

.navigation li:nth-child(7) {
  font-family: Arial;
  font-size: 11px;
  color: #b1bcc0;
}


.navigation a:hover {
  background: linear-gradient(to top, #0e375c, #1f6787);
  color: #fff;
  border-radius: 34px 34px 34px 34px;
}

.navigation span {
  color: #0e5789;
}

.menu {
  display: inline-block;
}

.center {
  font-size: 12px;
  font-family: Arial Black;
  text-align: center;
  font-weight: bold;
  color: #154467;
  margin-right: 73px;
  line-height: 10px;
}

.left {
  font-size: 10px;
  padding-right: 5px;
  font-family: Arial Black;
  font-weight: bold;
  color: #154467;
  margin-left: 19px;
  margin-right: 66px;
}

.right {
 font-size: 10px;
 font-family: Arial Black;
 font-weight: bold;
 color: #154467;
 ;
}

.auto {
  clear: both;
  text-align: right;
  position: relative;

}

.auto label {
  float: left;
  text-align: left;
  font-size: 10px;
  font-family: Arial;
  width: 60px;
  padding-right: 21px;
}

.auto select {
  width:100px;
}


select {
  height: 17px;
  background: url('../img/strilka.png');
  background-repeat: no-repeat;
  background-position-x: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.auto .wh {
  width: 50px;
  float: left;
  background: url('../img/strilka.png');
  background-repeat: no-repeat;
  background-position-x: 30px;
}


.form1 {
display: inline-block;
margin-left: 19px;
}

.auto span {
  font-size: 9px;
  color: #8d999d;
}

.auto:first-child {
  line-height: 15px;
}

.auto:last-child {
  line-height: 15px;
}

.col {
  clear: both;
  text-align: right;
}

.col select {
  width:100px;
}

.col .type2 {
  width: 50px;
  float: left;
  background: url('../img/strilka.png');
  background-repeat: no-repeat;
  background-position-x: 30px;

}


.col label {
  float: left;
  text-align: left;
  font-size: 10px;
  font-family: Arial;
  width: 60px;
  padding-right: 20px;
}

.form2 {
  display: inline-block;
  margin-left: 19px;
}

.col span {
  font-size: 9px;
  color: #8d999d;
}

.col:first-child {
  line-height: 15px;
}

.col:last-child {
  line-height: 15px;
}

.marks {
  display: inline-block;
  float: left;
  margin-top: 12px;
  width: 415px;
  border: 1px solid #b6b6b7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: 10px 10px 19px -5px rgba(164,164,164,0.54);
  margin-right: 14px;
}

.search {
  text-align: right;
  font-size: 14px;
  font-family: Arial;
  font-style: italic;
  text-decoration: underline;
  color: #154467;
  margin-bottom: 8px;
  margin-right: 20px;
}

.tires {
  display: inline-block;
  float: left;
  margin-top: 12px;
  width: 192px;
  height: 135px;
  border: 1px solid #b6b6b7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: 10px 10px 19px -5px rgba(164,164,164,0.54);
  position: relative;
}

.searchtires {
  display: block;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 12px;
  color: #154467;
  padding-left: 11px;

}

.size span {
  padding-left: 14px;
  font-size: 10px;
  }

.size .sz1 {
  margin-left: 8px;
  width: 50px;
  background: url('../img/strilka.png');
  background-repeat: no-repeat;
  background-position-x: 30px;
  box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);

}

.line {
  position: absolute;
  top: 29px;
  left: 113px;
  height: 10px;
  width: 1px;
  transform: rotate(11deg);
  margin-left: 5px;
  margin-right: 5px;
  background: #000;
  content: "";

}

.size .sz2 {
  margin-left: 9px;
  width: 50px;
  background: url('../img/strilka.png');
  background-repeat: no-repeat;
  background-position-x: 30px;
  box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.tired label {
  font-size: 11px;
  padding-left: 50px;
}

.tired .rif {
  margin-left: 3px;
  width: 50px;
  background: url('../img/strilka.png');
  background-repeat: no-repeat;
  background-position-x: 30px;
  box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.check {
  display:inline-block;
  margin-left: 6px;

}

.season1 {
  display: inline-block;
  float: left;
  font-size: 10px;
  margin-left: 13px;
  margin-right: 13px;
}

.season  {
  display:block;
  clear: both;
  font-size: 12px;
}

 input[type="checkbox"] {
  display: none;
}



.season input[type="checkbox"]+label::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #b6b6b7;
  background: #fff;
  box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
  vertical-align: middle;
  text-align: center;
  margin-right: 3px;
}

.season input[type="checkbox"]:checked+label::before {
  background: #0d385c;
}

.search2 {
  display: inline-block;
  float: right;
  margin-top: 43px;
  margin-right: 18px;
  font-size: 14px;
  font-family: Arial;
  font-style: italic;
  text-decoration: underline;
  color: #154467;
}

.discs {
  display: inline-block;
  float: right;
  margin-top: 12px;
  width: 270px;
  height: 135px;
  border: 1px solid #b6b6b7;
  border-radius: 18px 18px 18px 18px;
  box-shadow: 10px 10px 19px -5px rgba(164,164,164,0.54);
}

.searchdiscs {
  display: block;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 12px;
  color: #154467;

}

.form3 {
display: inline-block;
margin-left: 19px;
font-size: 10px;
position: relative;
width: 140px;
}


.disc1 label{
  width: 75px;
  line-height: 26px;
  padding-right: 6px;
}

.disc1 span {
  font-size: 9px;
  color: #8d999d;
}

.disc1 select {
  width: 55px;
  background-position-x: 37px;
}

.disc span {
  font-size: 9px;
  color: #8d999d;
}

.disc2 select {
  width: 45px;
  margin-bottom: 14px;
  margin-top: 5px;
  background-position-x: 27px;
}

.disc2 label {
  float: left;
  font-size: 10px;
  font-family: Arial;
  width: 62px;
  padding-right: 22px;
  line-height: 10px;
  margin-bottom: 4px;
}

.disc2 span {
  font-size: 9px;
  color: #8d999d;
}

.disc label{
  float: left;
  font-size: 10px;
  font-family: Arial;
  width: 62px;
  padding-right: 22px;
  line-height: 10px;
  margin-bottom: 4px;
}

.disc select {
  width: 55px;
  background-position-x: 37px;
}

.form3::after {
position: absolute;
width: 1px;
height: 106px;
top: 7px;
left: 161px;
background: #8d999d;
content: "";
}

.dco {
  margin-top: 3px;
  float: right;
  width: 76px;
  line-height: 9px;
}



.dio label {
  font-size: 10px;
  font-family: Arial;
  width: 50px;
  line-height: 10px;
  padding-right: 12px;
}

.dio select {
  width: 55px;
  background-position-x: 37px;
}

.dio2 label {
  font-size: 10px;
  font-family: Arial;
  width: 50px;
}

.dio2 select {
  width: 55px;
  background-position-x: 37px;
}

.dio span {
  font-size: 9px;
  color: #8d999d;
}

.dio2 span {
  font-size: 9px;
  color: #8d999d;
}

.search3 {
  text-align: right;
  font-size: 14px;
  font-family: Arial;
  font-style: italic;
  text-decoration: underline;
  color: #154467;
  margin-top: 8px;
  margin-right: 20px;
}



.catalog {
  width: 191px;
  float: left;
  margin-top: 18px;

}

.product {
  width: 165px;
  height: 24px;
  line-height: 24px;
  color: #114165;
  font-size: 12.7px;
  border: 1px solid #8c969a;
  border-radius: 18px 18px 18px 18px;
  text-align: center;
  padding-left:15px;
  background: url('../img/circle.png');
  background-repeat: no-repeat;
  background-position-x:2px;
  background-position-y:1px;

}
.propose1 {
  width: 120px;
  height: 27px;
  line-height: 27px;
  color: #114165;
  font-size: 14px;
  border: 1px solid #8c969a;
  border-radius: 18px 18px 18px 18px;
  padding-left: 30px;
  background: url('../img/circle2.png');
  background-repeat: no-repeat;
  background-position-x:4px;
  background-position-y:1px;
  margin-top: 14px;

}

.list {
  list-style-type: circle;
  font-size: 12.7px;
  color: #465961;
  padding-left: 54px;
  line-height: 25px;
}

.list li:hover {
  font-size: 14px;
  text-decoration: underline;
  color: #0c3256;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}

.wheels {
  width: 526px;
  float: left;

}


.propose2, .propose3 {
  width: 120px;
  height: 27px;
  line-height: 27px;
  color: #114165;
  font-size: 14px;
  border: 1px solid #8c969a;
  border-radius: 18px 18px 18px 18px;
  padding-left: 30px;
  background: url('../img/circle2.png');
  background-repeat: no-repeat;
  background-position-x:4px;
  background-position-y:1px;
}

.wheels {
  width: 527px;
  height: 626px;
  margin-top: 15px;
  background: linear-gradient(to top, #95a8b1, #e3e6e7);
  border-radius: 2px 2px 2px 2px;

}

.colesa {
  font-size: 0;
  margin: 16px 8px;
}

.colesa2 {
  font-size: 0;
  margin: 15px 8px;

}

.item {
  display: inline-block;
  margin: 0 15px 20px;
  width: 140px;
}


.firm {
  font-size: 14.59px;
  color: #5b879e;
  text-align: center;
  line-height: 3px;
}

.name {
  font-size: 12.77px;
  color: #1f2528;
  text-align: center;
}

.price {
  font-size: 16px;
  color: #114165;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}

.brands {
  width: 191px;
  float: left;
  margin-top: 18px;
}

.brands input[type=checkbox]+label::before{
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #b6b6b7;
  background: #fff;
  box-shadow: inset 10px 10px 5px -10px rgba(0,0,0,0.75);
  vertical-align: middle;
  text-align: center;
  margin-right: 3px;

}

.catalog2 {
  margin-left: 10px;
}

.product2 {
  width: 152px;
  height: 24px;
  line-height: 24px;
  color: #114165;
  font-size: 12.7px;
  border: 1px solid #8c969a;
  border-radius: 18px 18px 18px 18px;
  padding-left: 30px;
  background: url('../img/circle.png');
  background-repeat: no-repeat;
  background-position-x:2px;
  background-position-y: 1px;
}

.propose4, .propose5 {
  width: 98px;
  height: 27px;
  line-height: 27px;
  color: #114165;
  font-size: 14px;
  border: 1px solid #8c969a;
  border-radius: 18px 18px 18px 18px;
  padding-left: 30px;
  background: url('../img/circle2.png');
  background-repeat: no-repeat;
  background-position-x:4px;
  background-position-y:1px;
}

.sidebar {
  margin-top: 14px;
  margin-left: 14px;
}

.brend {
  display: inline-block;
  padding-left: 7px;

}

.brend input[type="checkbox"] {
  width: 10px;
  height: 10px;
  border: 1px solid #b6b6b7;
  background: #000;
 box-shadow: inset 0px 1px 3px 1px rgba(55,78,95,1);
}

.brend2 {
  display: inline-block;
  padding-left: 7px;
  padding-top: 6px;
}

.brend2 input[type="checkbox"] {
  width: 10px;
  height: 10px;
  border: 1px solid #b6b6b7;
  background: #000;
 box-shadow: inset 0px 1px 3px 1px rgba(55,78,95,1);
}



.propose5 {
  margin-top: 6px;
}

.inputs label {
  font-size: 12.7px;
  color: #69777d;
  padding-left: 17px;
}

a {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  font-family: Arial;
}

.link {
  margin-top: 15px;
  margin-left: 23px;
  width: 79px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to top, #0e375c, #1f6585);
  border-radius: 18px 18px 18px 18px;
}

.sponsors {
  margin-top: 37px;
  margin-left: 113px;
}

.footer {
  margin-top: 20px;
  height: 98px;
  background: #213a4d;
  text-align: center;
  position: relative;
}

.company {
  list-style-type: none;
}

.company li {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-family: Arial;
padding-right: 15px;
}

.company li:first-child {
  color: #3b7790;
}


.company li:first-child:after {
  position: absolute;
  top: 8px;
  width: 2px;
  height: 11px;
  background: #7a878f;
  content: "";
  margin-left: 10px;
}

.company li:nth-child(2):after {
  position: absolute;
  top: 8px;
  width: 2px;
  height: 11px;
  background: #7a878f;
  content: "";
  margin-left: 10px;
}

.company li:nth-child(3):after {
  position: absolute;
  top: 8px;
  width: 2px;
  height: 11px;
  background: #7a878f;
  content: "";
  margin-left: 10px;
}

.copi {
  font-size: 10px;
  color: #7a4641;
}



@font-face {
  font-family: "Lucida";
  src: url('../font/6623.eot') format('eot'),
       url('../font/6623.ttf') format('truetype'),
       url('../font/6623.woff') format('woff');
  font-style: normal;
  font-weight: bold;

}
